
.code-window-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.editor-container {
  flex-grow: 1;
  border-radius: 2rem;
  max-width: 45rem;
  margin-right: 1%;
}

.output-container {
  flex-grow: 1;
  max-width: 50rem;
  min-width: 25rem;
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 1%
}
