* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: min(90%, 1200px);
  height: 100vh;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100vh;
}

header {
  grid-column: 1 / 3;
  background-color: darkred;
  box-shadow: 0 0 0 100vmax darkred;
  clip-path: inset(0 -100vmax);
}

h1 {
  text-align: center;
  color: white;
}

h3, p {
  margin: 0;
}

.section-container {
  height: 100%;
  width: 100%;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-container + .section-container {
  border-left: 1px solid rgba(163, 103, 0, 0.751);
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-frame {
  width: 90%;
  aspect-ratio: 5 / 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(0, 0, 0, 0.6);
  position: relative;
}

.image-uploader {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em 0.3em;
}

.images {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.2em;
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding: 0.4em;
  gap: 0.4em;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
}

.close-icon {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: large;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.image > img {
  max-width: 50px;
  max-height: 50px;
}

.add-image-label {
  position:absolute;
  right: 0;
  top: 0;
  background-color: rgb(0, 133, 20);
  color: white;
  text-align: center;
  margin: 0.4em;
  padding: 0.2em 1em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.agent {
  outline: none;
}

.code-container {
  height: 100%;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.code-block {
  width: 100%;
  height: 100%;
  font-size: large;
  border-radius: 1em;
  border-color: darkslateblue;
  outline-color: var(--button-color);
  padding: 20px;
  display: block;
  resize: none;
  background-color: #fcfaf3;
}

.run-button {
  background-color: rgb(0, 133, 20);
  color: white;
  padding: 0.3em 1em;
  font-size: larger;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.error-message {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1em;
  border-radius: 0.3em;
  color: darkred;
  font-weight: bold;
  font-size: large;
  background-color: rgb(255, 255, 255, 0.8);
}

.hide {
  z-index: -1;
  display: none;
}

.fade-out {
  transition: all 1s;
  opacity: 0;
}
