:root {
  /* https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc */
  --prussian-blue: #003049;
  --air-blue: #669BBC;
  --barn-red: #780000;
  --orange: #F77F00;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: min(90%, 1200px);
  height: 100vh;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100vh;
}

header {
  grid-column: 1 / 3;
  align-items: center;
  background-color: var(--prussian-blue);
  box-shadow: 0 0 0 100vmax var(--prussian-blue);
  clip-path: inset(0 -100vmax);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h2 {
  text-align: center;
  color: white;
}

.nav button {
  background-color: var(--prussian-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.nav button:hover {
  background-color: white;
  color: var(--prussian-blue);
}

h3, p {
  margin: 0;
}

.section-container {
  height: 100%;
  width: 100%;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-container + .section-container {
  border-left: 1px solid rgba(163, 103, 0, 0.751);
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-frame {
  width: 90%;
  aspect-ratio: 5 / 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}

.top-bar {
  position: absolute;
  width: 100%;
  height: 1.6em;
  padding: 0 0.5em;
  background-image: linear-gradient(rgb(0 0 0 / 0.6), rgb(0 0 0 / 0));
  color: white;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.overlay {
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.modal {
  position: absolute;
  z-index: 3;
  background-color: whitesmoke;
  box-shadow: inset -2px -5px 5px wheat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over {
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translate(-50%, 0);
  color: rgb(88, 88, 88);
  font-weight: bold;
  text-transform: uppercase;
}

.result-message {
  font-size: 2em;
  font-weight: bold;
  color: red;
  text-shadow: 0 1px 2px darkred;
}

.image-uploader {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em 0.3em;
}

.images {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.2em;
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding: 0.4em;
  gap: 0.4em;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
}

.close-icon {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: large;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.image > img {
  max-width: 50px;
  max-height: 50px;
}

.add-image-label {
  position:absolute;
  right: 0;
  top: 0;
  background-color: var(--orange);
  color: black;
  text-align: center;
  margin: 0.4em;
  padding: 0.2em 1em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.agent {
  outline: none;
}

.code-container {
  height: 100%;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.code-block {
  width: 100%;
  height: 100%;
  font-size: large;
  border-radius: 1em;
  border-color: darkslateblue;
  outline-color: var(--button-color);
  padding: 20px;
  display: block;
  resize: none;
  background-color: #fcfaf3;
}

.run-button {
  background-color: var(--orange);
  color: black;
  padding: 0.3em 1em;
  font-size: larger;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.error-message {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1em;
  border-radius: 0.3em;
  color: darkred;
  font-weight: bold;
  font-size: large;
  background-color: rgb(255, 255, 255, 0.8);
}

.hide {
  z-index: -1;
  display: none;
}

.fade-out {
  transition: all 1s;
  opacity: 0;
}
